# Ignore node_modules anywhere in the project
**/node_modules/
# Ignore build outputs anywhere
**/dist/
**/build/
# Ignore env files anywhere (VERY IMPORTANT)
**/.env
**/.env.local
**/.env.*
# Logs and OS files
npm-debug.log*
.DS_Store
Thumbs.db
